html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    background-color: #FFFFFF;
    color: #000000;
    font-family: Roboto, sans-serif;
}

img, svg {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    border-bottom: 1px solid black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p, figure, fieldset, blockquote {
    margin: 0;
}





